.buttonLink {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: black;
  font-family: Exo;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.buttonLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #262F34;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.buttonLink:hover::after,
.buttonLink:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.buttonBox {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topButton {
  display: inline-block;
}

.topButton .buttonLink::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.topButton .buttonLink:hover::after,
.topButton .buttonLink:focus::after{
  transform: scale(1);
}
